# Read Data

In [10]:
import pandas as pd
dataset = pd.read_excel('all6600.xlsx')
dataset.head()

  LABEL                                            COMMENT
0    EP                            You are very beautiful.
1    OT                                   ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€
2    EP                                               Nice
3    GM  Atali Sundar mam as bakuda jode nathi sobhati .
4    EP          Nice video jitu bhai ðŸ˜ŠðŸ˜ŠðŸ¤£ðŸ‘‘ðŸ‘ˆ

# Gujarati Labels Only

In [11]:
r =dataset[dataset['LABEL'].isin(['GM'])]
r.head()

   LABEL                                            COMMENT
3     GM  Atali Sundar mam as bakuda jode nathi sobhati .
5     GM  Mast idiea  maryo Ho....tamari sikhaman amare ...
6     GM                                    Va jitu bhai va
7     GM                                               Lala
11    GM                              Mari baby pan jove se

In [12]:
import string
def clean_text(text):
       # text_nonpunct = [c for c in text if c not in string.punctuation]
        text_nonpunct ="".join([c for c in text if c not in string.punctuation])
        return text_nonpunct
    
r['comclean'] = r['COMMENT'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,LABEL,COMMENT,comclean
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...
6,GM,Va jitu bhai va,Va jitu bhai va
7,GM,Lala,Lala
11,GM,Mari baby pan jove se,Mari baby pan jove se

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(analyzer=clean_text)

X = cv1.fit_transform(r['COMMENT'])
print(X.shape)

(2460, 306)

In [14]:
print(cv1.get_feature_names())

['\n', ' ', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '\x81', '\x8d', '\x8f', '\x9d', '\xa0', '¡', '£', '¤', '¦', '§', '¨', 'ª', '«', '¬', '®', '¯', '°', '²', 'µ', '¸', '¹', 'º', '»', '¾', '¿', '×', 'à', 'á', 'â', 'ð', 'đ', 'ĺ', 'Œ', 'œ', 'Š', 'š', 'Ÿ', 'Ž', 'ˆ', '˜', 'ँ', 'ं', 'अ', 'आ', 'इ', 'ई', 'उ', 'ऊ', 'ए', 'ऐ', 'ओ', 'क', 'ख', 'ग', 'घ', 'च', 'छ', 'ज', 'ट', 'ठ', 'ड', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ल', 'व', 'श', 'स', 'ह', 'ा', 'ि', 'ी', 'ु', 'ू', 'े', 'ै', 'ो', 'ौ', '्', '।', 'ં', 'ઃ', 'અ', 'આ', 'ઈ', 'ઉ', 'એ', 'ક', 'ખ', 'ગ', 'છ', 'જ', 'ટ', 'ડ', 'ણ', 'ત', 'થ', 'દ', 'ધ', 'ન', 'પ', 'ફ', 'બ', 'ભ', 'મ', 'ય', 'ર', 'લ', 'વ', 'શ', 'સ', 'હ', 'ા', 'ી', 'ુ', 'ે', 'ો', '્', '૦', '૨', '\u200d', '–', '—', '‘', '’', '‚', '”', '„', '†', '‡', '•', '…', '‰', '‹', '›', '€', '₹', '™', '√', '☑', '☹', '☺', '♂', '♥', '✌', '❌', '❣', '❤', '️', '🇮', '🇳', '🌷', '🌹', '🌺', '🎥', '🏻', '🏼', '👆', '👇', '👌', '👍', '👏', '👩', '💃', '💋', '💌', '💐', '💓', '💔', '💕', '💖', '💘', '💜', '💝', '💞', '💢', '💥', '🔥', '🔫', '🖤', '😀', '😁', '😂', '😃', '😄', '😅', '😆', '😇', '😉', '😊', '😋', '😍', '😎', '😑', '😓', '😔', '😗', '😘', '😚', '😛', '😜', '😝', '😞', '😡', '😢', '😥', '😩', '😫', '😭', '😮', '😱', '😲', '🙂', '🙃', '🙄', '🙌', '🙏', '🚒', '🚶', '🛐', '🤓', '🤔', '🤗', '🤘', '🤡', '🤣', '🤦', '🤩', '🤯', '🥀', '🦁', '🧡']

# Remove Noncharecter

In [15]:
def clean_text(text):
        #text_nonpunct = [c for c in text if c not in string.punctuation]
        other = ['¡', '¢', '£', '¤', '¥', '¦', '§', '¨', 'ª', '«', '¬', '\xad', '®', '¯', '°', '²', '³',
           '´', 'µ', '¶', '·', '¸', '¹', 'º', '»', '¼', '½', '¾', '¿', '×', 'à', 'á', 'â', 'ã', 'ä', 'å',
           'ì', 'ï', 'ð', 'ñ', 'ô', 'ÿ', 'đ', 'ĺ', 'œ', 'š', 'ž', 'ƒ', 'ˆ', '˜', '̽', '͓', 'ँ', 'ं', '\x81', '\x8d', '\x8f', '\x90',  
             '\x9d', '¡', '¢', '£', '¤', '¥', '¦', '§', '¨', 'ª', '«', '¬', '\xad', '®', '¯', '°', '²', '³', '´',
             'µ', '¶', '·', '¸', '¹', 'º', '»', '¼', '½', '¾', '¿', '×', 'à', 'á', 'â', 'ã', 'ä', 'å', 'ç', 'ì', 
             'ï', 'ð', 'ñ', 'ô', 'ÿ', 'đ', 'ĺ', 'œ', 'š', 'ž', 'ƒ', 'ˆ', '˜', '̽', '͓', 'ँ', 'ं', 'ः',  
             '\u200c', '\u200d', '–', '—', '‘', '’', '‚', '“', '”', '„', '†', '‡', '•', '…', '‰', '‹', '›', '€', '₹',
             '℅', '™', 'ℹ', '√', '☑', '☮', '☹', '☺', '♂', '♥', '⚔', '⚘', '⚰', '✌', '✍', '✨', '❌', '❣', '❤', 
             '️', '🇦', '🇨', '🇪', '🇮', '🇳', '🇶', '🌁', '🌏', '🌷', '🌸', '🌹', '🌺', '🌻', '🍺', '🍻', '🎀', '🎁', 
             '🎂', '🎇', '🎉', '🎖', '🎙', '🎤', '🎥', '🎧', '🎩', '🎬', '🎵', '🎶', '🎼', '🏁', '🏆', '🏵', 
             '🏹', '🏻', '🏼', '🏾', '👆', '👇', '👈', '👉', '👋', '👌', '👍', '👎', '👏', '👑', '👒', '👔', '👕',
             '👖', '👠', '👦', '👧', '👨', '👩', '👪', '👫', '💃', '💄', '💋', '💌', '💍', '💎', '💐', '💓', 
             '💔', '💕', '💖', '💗', '💘', '💙', '💚', '💛', '💜', '💝', '💞', '💢', '💥', '💪', '💯', '📌',
             '📍', '📚', '📝', '🔝', '🔥', '🔪', '🔫', '🕉', '🕊', '🖤', '😀', '😁', '😂', '😃', '😄', '😅', '😆',
             '😇', '😉', '😊', '😋', '😌', '😍', '😎', '😑', '😒', '😓', '😔', '😕', '😗', '😘', '😚', '😛', 
             '😜', '😝', '😞', '😟', '😠', '😡', '😢', '😣', '😤', '😥', '😩', '😫', '😭', '😮', '😰', '😱', 
             '😲', '😳', '😴', '😵', '😷', '😻', '🙂', '🙃', '🙄', '🙋', '🙌', '🙏', '🚒', '🚗', '🚩', '🚶',
             '🚹', '🛐', '🤐', '🤓', '🤔', '🤗', '🤘', '🤝', '🤞', '🤟', '🤡', '🤣', '🤦', '🤩', '🤪', '🤯',
             '🤳', '🤴', '🤷', '🥀', '🥃', '🥇', '🥰', '🥳', '🥺', '🦁', '🧡']
        text_nonpunct ="".join([c for c in text if c not in other])
        return text_nonpunct
    
r['cleaned'] = r['comclean'].apply(lambda x: clean_text(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati,Atali Sundar mam as bakuda jode nathi sobhati
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,Mast idiea maryo Hotamari sikhaman amare Pan ...
6,GM,Va jitu bhai va,Va jitu bhai va,Va jitu bhai va
7,GM,Lala,Lala,Lala
11,GM,Mari baby pan jove se,Mari baby pan jove se,Mari baby pan jove se

In [16]:
#create feture: message length
r['sen_len1'] = r['COMMENT'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati,Atali Sundar mam as bakuda jode nathi sobhati,49
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,83
6,GM,Va jitu bhai va,Va jitu bhai va,Va jitu bhai va,15
7,GM,Lala,Lala,Lala,4
11,GM,Mari baby pan jove se,Mari baby pan jove se,Mari baby pan jove se,21

In [17]:
#create feture: message length
r['sen_len2'] = r['comclean'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati,Atali Sundar mam as bakuda jode nathi sobhati,49,48
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,83,77
6,GM,Va jitu bhai va,Va jitu bhai va,Va jitu bhai va,15,15
7,GM,Lala,Lala,Lala,4,4
11,GM,Mari baby pan jove se,Mari baby pan jove se,Mari baby pan jove se,21,21

In [18]:
#create feture: message length
r['sen_len3'] = r['cleaned'].apply(lambda x: len(x))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati,Atali Sundar mam as bakuda jode nathi sobhati,49,48,48
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,83,77,72
6,GM,Va jitu bhai va,Va jitu bhai va,Va jitu bhai va,15,15,15
7,GM,Lala,Lala,Lala,4,4,4
11,GM,Mari baby pan jove se,Mari baby pan jove se,Mari baby pan jove se,21,21,21

In [19]:
import re
def tokenize(txt):
    token = re.split('\s+',txt)
    return token

r['tokens'] = r['cleaned'].apply(lambda x: tokenize(x.lower()))
r.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,COMMENT,comclean,cleaned,sen_len1,sen_len2,sen_len3,tokens
3,GM,Atali Sundar mam as bakuda jode nathi sobhati .,Atali Sundar mam as bakuda jode nathi sobhati,Atali Sundar mam as bakuda jode nathi sobhati,49,48,48,"[atali, sundar, mam, as, bakuda, jode, nathi, ..."
5,GM,Mast idiea maryo Ho....tamari sikhaman amare ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,Mast idiea maryo Hotamari sikhaman amare Pan ...,83,77,72,"[mast, idiea, maryo, hotamari, sikhaman, amare..."
6,GM,Va jitu bhai va,Va jitu bhai va,Va jitu bhai va,15,15,15,"[va, jitu, bhai, va]"
7,GM,Lala,Lala,Lala,4,4,4,[lala]
11,GM,Mari baby pan jove se,Mari baby pan jove se,Mari baby pan jove se,21,21,21,"[mari, baby, pan, jove, se]"

In [20]:
len(r['tokens'].sum())

19026

In [21]:
r.shape

(2460, 8)

In [22]:
r.to_excel("GM62460@19026.xlsx")